<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yun.manageapp.mapper.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.yun.manageapp.domain.entity.Category">
    <!--@mbg.generated-->
    <id column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
  </resultMap>

  <resultMap id="ShowAllCategory" type="com.yun.manageapp.domain.vo.CategoryVo" extends="BaseResultMap">

    <association property="goodsInfoVo" resultMap="com.yun.manageapp.mapper.GoodsInfoMapper.GoodsAllResultMap">

    </association>

  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    category_id, category_name
  </sql>

  <select id="findAllGoodsInfo" resultMap="ShowAllCategory">

      select c.category_id,c.category_name,g.goods_id,g.goods_name,g.goods_number,g.is_delete,s.stock_value
      from category c left join
      goods_info g on
      c.category_id = g.category_id left join
      stock s on g.goods_id = s.goods_id

  </select>

</mapper>